/* * {
   color: red;
} */


fieldset {
    margin: 0 100px 0 100px;
    text-align: center;
    padding: 10px 50px 10px 50px;
    border-radius: 5px;
    background-color: #11151C;
    align-content: center;
    border: 1px solid;
    border-radius: 20px;
    border-style: 20px groove;
    border-color: red navy magenta purple;
}

.container {
    background-color: #0e0c0c;
    max-width: 500px;
    height: auto;
    margin: auto;
    margin-top: auto;
    padding-left: 10px;
    padding-right: 10px;
    border: 3px solid;
    border-radius: 20px;
    border-style: 20px groove;
    border-color: red navy magenta purple;
    animation:glow 2s ease-in-out infinite; 
    color: linear-gradient(45deg, navy, purple, red, yellow, hotpink, green, brown, cyan, magenta );
    z-index: -1;
}

@keyframes glow {
50% {
    border-color: red;
}

25% {
    border-color: navy;
}

50% {
    border-color: magenta;
}

75% {
    border-color: purple;
}

100% {
    border-color: red;
}

}

legend {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

    

.header1, #subtext, .header6 {
    color: white;
    text-align: center;

}
    
.btn {
    /* Set a style for the submit button */
    background-color: dodgerblue;
    color: white;
    padding: 10px 50px 10px 50px;
    border: none;
    cursor: pointer;
    width: 35%;
    border-radius: 5px 0 5px 0;
    margin: 5px 0 5px 170px;

}
label {
    color:white;
}
/* .foothead {
    border-top: 3px solid gold;
    max-width: 1000px;
    margin: 100px 650px 5px 650px;
    height: auto;
    padding-left: 100px;
    padding-right: 100px;
} */
